:root {
    --bg-overlay: rgba(0, 0, 0, 0.82);
    --glass-bg: rgba(56, 56, 56, 0.15);
    --glass-border: rgba(255, 255, 255, 0.18);
    --button-hover: rgba(149, 96, 255, 0.66);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
  }
  
  /* Global Rules*/
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: white;
    background-image: url("./imgs/background.jpg");
  }
  
  button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Search Block */
  .search {
    display: flex;
    width: 400px;
    height: 50px;
    gap: 12px;
  }
  
  .search__form {
    display: flex;
    width: 75%;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .search__input {
    width: 70%;
    outline: none;
    padding: 0px 20px;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    color: white;
  }
  
  .search__input::placeholder {
    color: white;
  }
  
  .search__button {
    width: 30%;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    border-radius: 0px 4px 4px 0px;
    border-left: none;
  }
  
  .search__add {
    width: 25%;
  }
  
  .search__add-button {
    width: 100%;
    height: 100%;
    color: white;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 4px;
    border: 1px solid var(--glass-border);
  }
  
  .search__button:hover,
  .search__add-button:hover {
    background-color: var(--button-hover);
  }
  
  /* Weather Block */
  .weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 400px;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    padding: 42px;
    border-radius: 4px;
    margin-top: 12px;
  }
  
  .weather__icon span {
    font-size: 54px;
    margin: 0px 0px 0px -8px;
  }
  
  .weather__condition h2 {
    font-size: 44px;
  }
  
  .weather__city h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 1px;
  }

  .weather__error {
    font-size: 19px;
    font-weight: 400;
    text-align: left;
}
  
  /* Favourites Block */
  .favourites {
    display: flex;
    height: fit-content;
    width: 400px;
    padding: 42px;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    margin-top: 12px;
  }

  .favourites__container span {
    font-size: 24px;
    margin: 0px 0px 0px -4px;
  }
  
  .favourites__list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }
  
  .favourites__item {
    letter-spacing: 1px;
    width: fit-content;
    border-bottom: 0.1em solid transparent;
    padding-bottom: 4px;
    cursor: pointer;
  }
  
  .favourites__item:hover {
    border-color: white;
    transition: 0.5s;
  }
  
  .material-icons {
    color: white;
  }