:root {
    --bg-overlay: rgba(0, 0, 0, 0.82);
    --glass-bg: rgba(56, 56, 56, 0.15);
    --glass-border: rgba(255, 255, 255, 0.18);
    --button-hover: rgba(149, 96, 255, 0.66);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
  }
  
  /* Globala Regler*/
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: white;
    background-image: url("./imgs/background.jpg");
  }
  
  button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Sök blocket*/
  .search {
    display: flex;
    width: 400px;
    height: 50px;
    gap: 12px;
  }
  
  .search__form {
    display: flex;
    width: 75%;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .search__input {
    width: 70%;
    outline: none;
    padding: 0px 20px;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    color: white;
  }
  
  .search__input::placeholder {
    color: white;
  }
  
  .search__button {
    width: 30%;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    border-radius: 0px 4px 4px 0px;
    border-left: none;
  }
  
  .search__add {
    width: 25%;
  }
  
  .search__add-button {
    width: 100%;
    height: 100%;
    color: white;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 4px;
    border: 1px solid var(--glass-border);
  }
  
  .search__button:hover,
  .search__add-button:hover {
    background-color: var(--button-hover);
  }

  /* Modal(Popup) Stil */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: relative;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    margin: 15% auto;
    padding: 62px;
    width: 90%;
    max-width: 400px;
    border-radius: 4px;
    color: white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    font-size: 24px;
    margin: 0;
}

.close-button {
    color: white;
    font-size: 28px;
    font-weight: medium;
    cursor: pointer;
}

.close-button:hover {
    color: #999;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 24px;
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    color: white;
}

.form-group select {
    appearance: none; /* Remove default arrow */
    background-image: url('./imgs/down-arrow-svgrepo-com.svg'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 24px center; /* Position the custom arrow */
    background-size: 16px; /* Size of the custom arrow */
    color: white;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-selected {
    background: var(--glass-bg);
    padding: 24px 40px 24px 24px;
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background: #999;
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-top: 4px;
}

.select-items div {
    padding: 16px 24px;
    cursor: pointer;
    color: white;
}

.select-items div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.select-hide {
    display: none;
}

.modal-submit {
    width: 100%;
    padding: 10px;
    background: var(--glass-bg);
    color: white;
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-submit:hover {
    background-color: var(--button-hover);
}
  
  /* Väder Blocket*/
  .weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 400px;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    padding: 42px;
    border-radius: 4px;
    margin-top: 12px;
  }

  .weather, .favourites {
    display: none;
}

  .weather.visible, .favourites.visible {
    display: flex;
}
  
  .weather__icon span {
    font-size: 54px;
    margin: 0px 0px 0px -8px;
  }
  
  .weather__condition h2 {
    font-size: 44px;
  }
  
  .weather__city h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 1px;
  }

  .weather__error {
    font-size: 19px;
    font-weight: 400;
    text-align: left;
}
  
  /* Most Searched (Favoriter) Blocket */
  .favourites {
    display: flex;
    height: fit-content;
    width: 400px;
    padding: 42px;
    background: var(--glass-bg);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    border-radius: 4px;
    margin-top: 12px;
  }

  .favourites__container span {
    font-size: 24px;
    margin: 0px 0px 0px -4px;
  }
  
  .favourites__list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }
  
  .favourites__item {
    letter-spacing: 1px;
    width: fit-content;
    border-bottom: 0.1em solid transparent;
    padding-bottom: 4px;
    cursor: pointer;
  }
  
  .favourites__item:hover {
    border-color: white;
    transition: 0.5s;
  }
  
  .material-icons {
    color: white;
  }